<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/game.css">
        <link href="./svg/player/creator.svg" rel="shortcut icon" type="image/x-icon">
        <title>SG - Ingame</title>
    </head>
    <body>
        <canvas id="canvas"></canvas>
        <div class="graphics">
            <p>Images used:</p>
            <img src="./svg/shields/shield-blue.svg"    id="shieldBlue">
            <img src="./svg/shields/shield-red.svg"     id="shieldRed">
            <img src="./svg/shields/shield-gold.svg"    id="shieldGold">
            <img src="./svg/shields/shield-green.svg"   id="shieldGreen">
            <img src="./svg/player/creator.svg"         id="player">
            <img src="./svg/skills/fire.svg"            id="fire">
            <img src="./svg/skills/skull.svg"           id="damage">
            <img src="./svg/skills/heart.svg"           id="hp">
            <img src="./svg/battery/bolt.svg"           id="energy">
            <img src="./svg/ui/x.svg"                   id="close">
            <img src="./svg/battery/full.svg"           id="batteryFull">
            <img src="./svg/ui/brush.svg"               id="brush">
            <img src="./svg/undefined/js.svg"           id="js">
            <!-- entities purple-->
            <img src="./svg/entities/purple/bit.svg" id="Pbit">
            <img src="./svg/entities/purple/ping.svg" id="Pping">
            <img src="./svg/entities/purple/ram.svg" id="Pram">
            <img src="./svg/entities/purple/ssd.svg" id="Pssd">
            <img src="./svg/entities/purple/wlan.svg" id="Pwlan">
            <!-- entities green-->
            <img src="./svg/entities/green/bit.svg" id="Gbit">
            <img src="./svg/entities/green/ping.svg" id="Gping">
            <img src="./svg/entities/green/ram.svg" id="Gram">
            <img src="./svg/entities/green/ssd.svg" id="Gssd">
            <img src="./svg/entities/green/wlan.svg" id="Gwlan">
        
        
        </div>
        <div id="windows">
            
        </div>
        <button id="createWindow">Create Window</button>
        <div id="sidebar">
            <div class="sideBarOption" id="explorer"></div>
            <div class="sideBarOption sboa"></div>
            <div class="sideBarOption"></div>
            <div class="sideBarOption"></div>
            <div class="sideBarOption"></div>
            <div class="sideBarOption" id="shop"></div>
        </div>
        <input type="color">
        <script src="../js/game.js" type="module"></script>
    </body>
</html>