<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/log.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
        </style>
        <title>SG - Login</title>
    </head>

    <body onload="check()">
        <div id="container">
            <div id="navbar">
                <div class="left"></div>
            </div>
            <h1 class="title">Square Game</h1>
            <hr>
            <div id="form">
                <label for="">Name</label><br>
                <input type="text" placeholder="Name" maxlength="20" id="name" onfocus=check()>
                <p id="nameInfo" style="font-size: 12px;"></p>
                <br><br>
                <label for="">Passwort</label><br>
                <input type="password" placeholder="******" id="pw"><br><br>
                <button onclick="submit()">Start</button>
                <p>Don't have an account yet?</p>
                <a href="register.html">Create a new account</a>

            </div>
        </div>
        <script src="../js/log.js"></script>
    </body>

</html>